* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    max-width: 100%;


}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #262626;

}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #c2c2c2;
    border-radius: 2rem;
    border-top: solid 1px #555;
    border-right: solid 1px #555;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(1000px);

}

.card .title {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    text-align: center;
    color: rgb(71, 136, 233);
    opacity: 0; /* görünürlük */
    transition: .15s;
    z-index: 3;
    transform:translateZ(40px);
}

.card:hover .title {
    opacity: 1;
    top: 2rem;
}

.card .hemenal {
    position: absolute;
    height: 40px;
    bottom: 6rem;
    left: 50%;
    transform: translate3d(-50%, 0,40px);
    text-decoration: none;
    color: white;
    background: rgb(78, 78, 78);
    border-radius: 2rem;
    padding: 1rem 2rem;
    transition: .15s;
    opacity: 0;
    border: solid 2px transparent;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 3;
    
}

.card:hover .hemenal {
    opacity: 1;
    bottom: 2rem;
}

.card:hover .hemenal:hover {
    border: solid 2px white;
    background: #05c03d;
}

.card .daire {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    background: #262626;
    border-radius: 50%;
    transform: translate3d(-50%, -50%,20px);
    z-index: 1;
    transition: .3s;

    opacity: 0;

}

.card:hover .daire {
    opacity: 1;

}

.card .görsel {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%,30px);
    transition: .25s;

}

.card::before {
    content: attr(data-title);
    position: absolute;
    top: 1rem;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: white;
    opacity: .7;
    transition: .2s;
}

.card::after {
    content: attr(data-fiyat);
    position: absolute;
    bottom: 1rem;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    opacity: .7;
    transition: .2s;
}

.card:hover::before,
.card:hover::after {

    opacity: 0;
}